# Global Payments GP API Credentials
# Replace these sample values with your actual GP API credentials
# API Platform (GP API)
GP_API_APP_ID=UJqPrAhrDkGzzNoFInpzKqoI8vfZtGRV  #gitleaks:allow
GP_API_APP_KEY=zCFrbrn0NKly9sB4  #gitleaks:allow
GP_API_ENVIRONMENT=test  # or 'production'
